<p id="notice"><%= notice %></p>

<h1>Games</h1>


<table  >
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Box</th>
      <th>BoxName</th>

      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.url %></td>
        <td><%= game.box_id %></td>
        <td><%= link_to game.box.name, box_path(game.box)%></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
